/*!
 * 
 * 
 */

 .navbar-inverse {
    background-color: whitesmoke;
    /*border-color: #080808;*/
 }

 .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
}

.navbar {
    position: relative;
    min-height: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    padding: 0%;
    padding-left: 5%;
}

._title {    
    text-align: center;
}